<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.al">

    <application

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:allowBackup="false"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity android:name=".Main2Activity" />
        <activity android:name=".rr_final" />
        <activity android:name=".prio2_out" />
        <activity android:name=".prio2" />
        <activity android:name=".prio_out" />
        <activity android:name=".prio" />
        <activity android:name=".rr_out" />
        <activity android:name=".sjf2_out" />
        <activity android:name=".sjf_out" />
        <activity android:name=".fcfs_out" />
        <activity android:name=".rr" />
        <activity android:name=".sjf2_act" />
        <activity android:name=".sjf_act" />
        <activity android:name=".fcfs_act" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>